.products-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-item {
    width: 40%;
    border-bottom: 2px solid black;
}

.more-details-button {
    background-color: #000000;
    color: #ffffff;
    width: 50%;
    height: 40px;
    margin: 0 25% 5% 25%;
}