.wrapper {
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding-bottom: 30px;
    padding-top: 50px;
}

.image {
    height: 200px;
    text-align: center;
}

img {
    height: 80%;
}

.title {
    height: 70px;
    text-align: center;
}

.price {
    text-align: center;
}
